.navbar{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

#myCarousel{
	margin-bottom: 40px;
}

#myCarousel img{
	width: 100%;
	height: auto;
}

.carousel-caption {
    bottom: 50%;
    background-color: rgba(0,0,0,.5);
}

.carousel-inner .item{
	height:400px;
}

.panel-body {
    display: flex;
    padding: 45px !important;
    flex-wrap: wrap;
}

.container .item{
	box-shadow: 1px 0px 58px -10px;
	margin: 20px;
}

.container .item:hover{
	box-shadow: 1px 0px 58px -6px;
}

.btn a{
	color: black !important;
	text-decoration: none;

}

a:hover{
	text-decoration: none;
}

.container{
	padding:50px 0; 
}

#sidebar li{
	list-style-type: none;
}

ul{
	padding-left: 0px;
}

.badge{
	margin: 0 5px;
    height: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner {
    position: relative;
    text-align: center;
    color: white;
}